<header id="top-header">
  <span class="siteName">
      <a href="/" title="Return to home page" aria-label="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
      <a class="logIn" title="Click to log in" href="/account/login" aria-label="Log in to your account">My Account</a>
  </div>
</header>
