<nav>
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/inventory/classification/custom">Custom</a></li>
      <li><a href="/inventory/classification/sedan">Sedan</a></li>
      <li><a href="/inventory/classification/sport">Sport</a></li>
      <li><a href="/inventory/classification/suv">SUV</a></li>
      <li><a href="/inventory/classification/truck">Truck</a></li>
  </ul>
</nav>
