<nav role="navigation">
    <% if (nav && nav.trim()) { %>
        <%- nav %>
    <% } else { %>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/inv/type/1">Default Category</a></li>
        </ul>
    <% } %>
</nav>
