<h1>Welcome to CSE Motors</h1>
<p>Your dream car is just a step away!</p>

   
<!-- Images from the 'upgrades' folder -->
  <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
  <img src="/images/upgrades/flame.jpg" alt="Flame Design">
  <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
  <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">


       
  

