<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSE Motors</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="upgrades-section">
    <div class="upgrade-item flux-capacitor">
      <img src="flux-capacitor.jpg" alt="Flux Capacitor">
      <p>Flux Capacitor</p>
    </div>
    <div class="upgrade-item flame-decal">
      <img src="flame-decal.jpg" alt="Flame Decal">
      <p>Flame Decals</p>
    </div>
    <div class="upgrade-item bumper-stickers">
      <img src="bumper-stickers.jpg" alt="Bumper Stickers">
      <p>Bumper Stickers</p>
    </div>
    <div class="upgrade-item hub-caps">
      <img src="hub-caps.jpg" alt="Hub Caps">
      <p>Hub Caps</p>
    </div>
  </div>
  
  <header>
    <% include('partials/navigation.ejs'); %>
  </header>  
  <main>
    <h1>Welcome to CSE Motors!</h1>
    <section>
      <h2>DMC Delorean</h2>
      <p>3 Cup holders</p>
      <p>Superman doors</p>
      <p>Fuzzy dice!</p>
      <button>Own Today</button>
      <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
    </section>
    <section>
      <h2>Delorean Upgrades</h2>
      <ul>
        <li><img src="/images/upgrades/flux-capacitor.jpg" alt="Flux Capacitor"><br>Flux Capacitor</li>
        <li><img src="/images/upgrades/flame-decals.jpg" alt="Flame Decals"><br>Flame Decals</li>
        <li><img src="/images/upgrades/bumper-stickers.jpg" alt="Bumper Stickers"><br>Bumper Stickers</li>
        <li><img src="/images/upgrades/hub-caps.jpg" alt="Hub Caps"><br>Hub Caps</li>
      </ul>
    </section>
    <section>
      <h2>DMC Delorean Reviews</h2>
      <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2023, CSE 340 App</p>
  </footer>
</body>
</html>
