<!DOCTYPE html>
<html lang="en-US">
  <%- include('partials/head') %>
  <body>
    <header>
      <%- include('partials/header') %>
      <%- include('partials/navigation') %>
    </header>
    <main>
      <section class="hero">
        <!-- Images from 'site' folder -->
        <img src="/public/images/site/checkerboard.jpg" alt="Checkerboard">
        <img src="/public/images/site/favicon-32x32.png" alt="Site Favicon">
        <img src="/public/images/site/icon.png" alt="Site Icon">
        <img src="/public/images/site/own_today.png" alt="Own Today">
        <img src="/public/images/site/small_check.jpg" alt="Small Check - JPG">
        <img src="/public/images/site/small_check.png" alt="Small Check - PNG">

        <!-- Images from 'upgrades' folder -->
        <img src="/public/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
        <img src="/public/images/upgrades/flame.jpg" alt="Flame Design">
        <img src="/public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        <img src="/public/images/upgrades/hub-cap.jpg" alt="Hub Cap">

        <!-- Images from 'vehicles' folder -->
        <img src="/public/images/vehicles/adventador-tn.jpg" alt="Adventador Thumbnail">
        <img src="/public/images/vehicles/adventador.jpg" alt="Adventador">
        <img src="/public/images/vehicles/aerocar-tn.jpg" alt="Aerocar Thumbnail">
        <img src="/public/images/vehicles/aerocar.jpg" alt="Aerocar">
        <img src="/public/images/vehicles/batmobile-tn.jpg" alt="Batmobile Thumbnail">
        <img src="/public/images/vehicles/batmobile.jpg" alt="Batmobile">
        <img src="/public/images/vehicles/camaro-tn.jpg" alt="Camaro Thumbnail">
        <img src="/public/images/vehicles/camaro.jpg" alt="Camaro">
        <img src="/public/images/vehicles/crwn-vic-tn.jpg" alt="Crown Victoria Thumbnail">
        <img src="/public/images/vehicles/crwn-vic.jpg" alt="Crown Victoria">
        <img src="/public/images/vehicles/delorean-tn.jpg" alt="Delorean Thumbnail">
        <img src="/public/images/vehicles/delorean.jpg" alt="Delorean">
        <img src="/public/images/vehicles/dog-car-tn.jpg" alt="Dog Car Thumbnail">
        <img src="/public/images/vehicles/dog-car.jpg" alt="Dog Car">
        <img src="/public/images/vehicles/escalade-tn.jpg" alt="Escalade Thumbnail">
        <img src="/public/images/vehicles/escalade.jpg" alt="Escalade">
        <img src="/public/images/vehicles/fire-truck-tn.jpg" alt="Fire Truck Thumbnail">
        <img src="/public/images/vehicles/fire-truck.jpg" alt="Fire Truck">
        <img src="/public/images/vehicles/hummer-tn.jpg" alt="Hummer Thumbnail">
        <img src="/public/images/vehicles/hummer.jpg" alt="Hummer">
        <img src="/public/images/vehicles/mechanic-tn.jpg" alt="Mechanic Thumbnail">
        <img src="/public/images/vehicles/mechanic.jpg" alt="Mechanic">
        <img src="/public/images/vehicles/model-t-tn.jpg" alt="Model T Thumbnail">
        <img src="/public/images/vehicles/model-t.jpg" alt="Model T">
        <img src="/public/images/vehicles/monster-truck-tn.jpg" alt="Monster Truck Thumbnail">
        <img src="/public/images/vehicles/monster-truck.jpg" alt="Monster Truck">
        <img src="/public/images/vehicles/mystery-van-tn.jpg" alt="Mystery Van Thumbnail">
        <img src="/public/images/vehicles/mystery-van.jpg" alt="Mystery Van">
        <img src="/public/images/vehicles/mystery-van.jpg" alt="Mystery Van">
        <img src="/public/images/vehicles/no-image-tn.png" alt="No Image Thumbnail">
        <img src="/public/images/vehicles/no-image.png" alt="No Image">
        <img src="/public/images/vehicles/survan-tn.jpg" alt="Survan Thumbnail">
        <img src="/public/images/vehicles/survan.jpg" alt="Survan">
        <img src="/public/images/vehicles/wrangler-tn.jpg" alt="Wrangler Thumbnail">
        <img src="/public/images/vehicles/wrangler.jpg" alt="Wrangler">

        <h1>Welcome to CSE Motors</h1>
      </section>
      <section class="content">
        <p>Your dream car is just a step away!</p>
      </section>
    </main>
    <footer>
      <%- include('partials/footer') %>
    </footer>
  </body>
</html>
