<h1><%= title %></h1>

<!-- Message Block -->
<% if (messages && messages.length > 0) { %>
    <div class="messages">
        <% messages.forEach(message => { %>
            <p><%= message %></p>
        <% }) %>
    </div>
<% } %>

<!-- Inventory Items Display -->
<%- grid %>
