

<div>
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } else { %>
        <h1>Vehicle Management</h1>
    <% } %>
    <p>Welcome to the Vehicle Management dashboard.</p>
    <section>
        <p>Options:</p>
        <ul>
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
        
        </ul>
    </section>
</div>