<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

  <!-- Vehicle Details -->
<div class="vehicle-detail">
  
  <img src="/<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %> on CSE Motors">
    <div class="vehicle.info"> 
      <p class="info-header"><%= vehicle.inv_make %> <%= vehicle.inv_model %> Details </p>
      <p><strong>Description:</strong> <%= vehicle.inv_description %></p>
      <p><strong>Price:</strong> $<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %></p>
      <p><strong>Color:</strong> <%= vehicle.inv_color %></p>
      <p><strong>Miles:</strong> <%= new Intl.NumberFormat('en-US').format(vehicle.inv_miles) %> miles</p>
  </div>
</div>




    <%# messages() %>

    <!--Inventory Items Display-->
  