<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= message %></p>
  <div>
    <!-- Humorous touch -->
    <p>Oops! Something went wrong. But don't worry, our error management ninjas are on it! 🥷</p>
    <p>
      Need to retrace your steps? <a href="/">Return to safety here.</a>
    </p>
  </div>
</body>
</html>
